[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/dtl"]
	path = external/dtl
	url = https://github.com/cubicdaiya/dtl
[submodule "external/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "external/ordered-map"]
	path = external/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "external/jsmn"]
	path = external/jsmn
	url = https://github.com/zserge/jsmn
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date
