# cppforge-sync
# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main
pr:
  - main

jobs:
  - job: Build_Ubuntu
    displayName: "[x64] Build Ubuntu"
    pool:
      vmImage: "ubuntu-latest"
    steps:
      - checkout: self
        persistCredentials: true
        clean: true
      - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
          - bash: bash $(Build.SourcesDirectory)/ci/update_vcpkg_port.sh push
      - ${{ else }}:
          - bash: bash $(Build.SourcesDirectory)/ci/update_vcpkg_port.sh
      - bash: bash $(Build.SourcesDirectory)/ci/prepare_ubuntu_machine.sh && mkdir -p cmake-build && mkdir -p vcpkg-build
        displayName: "Install Build Tools"
      - bash: bash $(Build.SourcesDirectory)/ci/build_linux.sh
        displayName: "Build and Test Linux"
        workingDirectory: "cmake-build"
      - task: CopyFiles@2
        displayName: "Copy Files to artifact staging directory"
        inputs:
          SourceFolder: "cmake-build"
          Contents: "*.zip"
          TargetFolder: $(Build.ArtifactStagingDirectory)
      - task: PublishBuildArtifacts@1
        displayName: "Publish Artifact"
        inputs:
          pathtoPublish: $(Build.ArtifactStagingDirectory)

  - job: vcpkg
    strategy:
      matrix:
        win-mingw:
          HostTriplet: x86-windows-static # TODO fix x64-mingw-static so its runnable
          RuntimeTriplets: x64-mingw-static
          VMImage: "windows-latest"
        win-wasm:
          HostTriplet: x64-windows-static-md
          RuntimeTriplets: wasm32-emscripten
          VMImage: "windows-latest"
        win-uwp:
          HostTriplet: x86-windows-static-md
          RuntimeTriplets: x64-uwp-static-md,arm64-android
          VMImage: "windows-latest"
        win-android:
          HostTriplet: x86-windows-static-md
          RuntimeTriplets: arm64-android
          VMImage: "windows-latest"
        lnx-android:
          HostTriplet: x64-linux
          RuntimeTriplets: x86-android,arm-neon-android,arm64-android
          VMImage: "ubuntu-latest"
        lnx-wasm:
          HostTriplet: x64-linux
          RuntimeTriplets: wasm32-emscripten
          VMImage: "ubuntu-latest"
    pool:
      vmImage: $(VMImage)
    steps:
      - bash: bash $(Build.SourcesDirectory)/ci/prepare_ubuntu_machine.sh mkdir -p vcpkg-build
        displayName: "Install Build Tools"
        condition: eq(variables['Agent.OS'], 'Linux')
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.x"
          addToPath: true
          architecture: "x64" # Options: x86, x64 (this argument applies only on Windows agents)
      - task: PythonScript@0
        inputs:
          scriptPath: $(Build.SourcesDirectory)/ci/build_with_vcpkg.py
          arguments: --verbose --host-triplet $(HostTriplet) --runtime-triplets $(RuntimeTriplets) --workdir vcpkg-build

  - job: Build_VS_x64_and_x86
    pool:
      vmImage: "windows-latest"
    displayName: "Build MSVC"
    steps:
      - powershell: mkdir -p cmake-build ; mkdir -p vcpkg-build
      - task: Powershell@2
        displayName: "Build and Test MSVC"
        inputs:
          targetType: "filePath"
          filePath: $(Build.SourcesDirectory)/ci/build_win_msvc.ps1
          arguments: x64,x86
      - task: CopyFiles@2
        displayName: "Copy Files to artifact staging directory"
        inputs:
          SourceFolder: "cmake-build"
          Contents: |
            '*.zip'
            '*.txt'
            '*.bin'
          TargetFolder: $(Build.ArtifactStagingDirectory)
      - task: PublishBuildArtifacts@1
        displayName: "Publish Artifact"
        inputs:
          pathtoPublish: $(Build.ArtifactStagingDirectory)
